<div class="container">
    <div class="row">
        <div class="inter col-12">&nbsp;</div>
    </div>
    <div class="box row">
        <div class="col-8">
            <div class="head2 d-flex">
                <h2>This First Heading </h2>
                <h2 class="head"> Will catch Your Eye</h2>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Iure praesentium omnis earum nulla veniam maiores accusantium cumque, 
                inventore ipsum commodi rerum minus cum architecto nesciunt odio sequi, 
                enim laudantium et.</p>
        </div>
        <div class="round col-4">
            &nbsp;
        </div>
    </div>
</div>