<div class="row">
    <div class="col-md-12 p-3 bg-body text-dark">
        <div class="card mb-3 border border-top-0 border-end-0 border-start-0">
            <div class="row my-5 ps-5">
                <div class="col-md-4 d-flex justify-content-center ps-5">
                    <img src="/website/assets/img/2.jpg" class="img-fluid rounded-circle" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-start">
                            <h1 class="pe-2">The Second Heading</h1>
                            <h1 class="text-secondary"> Is Pretty Cool Too.</h1>
                        </div>
                        <p class="card-text fs-4 text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus soluta repudiandae
                            quasi rem aliquid delectus voluptatibus? Similique, a id nemo enim tempore porro! Maiores recusandae
                            voluptatem libero nostrum natus voluptatum!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        
